<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDo Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="form-signin">
        <h2 class="form-signin-heading">Add Item</h2>
        <label for="inputItem" class="sr-only">A new item to do</label>
        <input type="text" id="inputItem" class="form-control" placeholder="Pick up dry cleaning" required autofocus>
        <button id="addItem" class="btn btn-lg btn-primary btn-block" type="button">Add Item</button>
      </div>
      <div>
        <ul class="list"></ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
